* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 2rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 0.5rem;
}

button {
    display: block;
    margin-top: 0.5rem;
    padding: 6px 18px;
}
