.row-container {
    margin-bottom: 1rem;
}

.row {
    letter-spacing: 12px;
    line-height: 24px;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
    display: block;
}

.word {
    display: block;
    margin-bottom: 0.25rem;
}

button {
    margin-top: 1.5rem;
}
